<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body data-page="profile">
  <nav>
    <ul>
      <li><img id="logo" src="images/logo-blush.png" alt="Blush logo"></li>
      <li><a class="profilePage" href=""><img class="uploadedImgHeader" src="<%= user.profile.picture %>" alt="Profile picture"></a></li>
      <li><%= `${user.profile.name.firstName} ${user.profile.name.lastName}` %></li>
      <li><a href="/feed">Back to feed</a></li>
      <li><a class="outline" href="/logout">Log out</a></li>
    </ul>
  </nav>

  <h1>Profile</h1>

  <div class="container">
  <section class="userContainer">
    <figure>
      <img src="<%= user.profile.picture %>" alt="Profile picture">
    </figure>
    <div>
      <h3> <%= `${user.profile.name.firstName} ${user.profile.name.lastName}` %> </h3>
      <p>Age: <%= user.profile.age %> jaar </p>
      <p>Gender: <%= user.profile.gender %> </p>
      <p>Place: <%= user.profile.place %> </p>
      <p>About: <%= user.profile.about %> </p> </p>
      <p></p>
    </div>
  </section>

  <section class="chatbox">
    <div id="messages">
      <form action=" " method="POST">

      <h3>More about me</h3>

      <div class="extra">
        <label for="roken">Do i smoke?</label>
        <div class="options">
          <input type="radio" id="jaroken" name="smoke" value="yes">
          <label for="jaroken">yes</label>
          <input type="radio" id="neeroken" name="smoke" value="no">
          <label for="neeroken">no</label>
          <input type="radio" id="maaktnietuitroken" name="smoke" value="allowed">
          <label for="maaktnietuitroken">partysmoker</label>
        </div>
        <label for="kinderen">Do i have kids?</label>
        <div class="options">
          <input type="radio" id="jakinderen" name="kids" value="yes">
          <label for="jakinderen">yes</label>
          <input type="radio" id="neekinderen" name="kids" value="no">
          <label for="neekinderen">no</label>
          <input type="radio" id="maaktnietuitkinderen" name="kids" value="allowed">
          <label for="maaktnietuitkinderen">want them</label>
      </div>
      <label for="lengte" id="lengte">What is my length?</label>
      <input type="text" placehoder="length in cm" name="length">

    </div>
    <button type="submit">update my profile</button>
    </form>
    </div>
  </section>
  </div>
</body>

</html>
